.isotope {
	margin-top: 10px;
}

.folio-item {
	margin-bottom:5px;
	padding:0 12px;
}

.folio-inner {
	border-radius:3px;
	overflow:hidden;
	background:#fff;
	/*border:1px solid #d2d2d2;
	border-bottom:2px solid #c7c7c7;*/
	margin-bottom:25px;
	-webkit-box-shadow: 0px 1px 2px 1px #aaaaaa;
	box-shadow: 0px 1px 2px 1px #aaaaaa;	
}

.folio-filter {
	position: relative;
	bottom: 7px;
	display:table;
	margin:0 auto 15px;
}
	
.folio-filter li {
	display: inline-block;
	margin-left: 6px;
	margin-right:6px;
	font-size:15px;
	text-transform:uppercase;
}
	
.folio-filter li a {
	display: block;
	color: #5f5f5d;
	padding:5px 10px;
	border-radius:3px;
}
	
.folio-filter li a:hover {
	color: #fff;
	background:#317dbe;
}
	
.folio-filter li a.selected {}

.selected {background:#317dbe;color:#fff !important;}

.link-info {
	display:table;
	margin: 0 auto;
}

.link-info li{
    background: url("../images/portfolio-link.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    font-size: 26px;
    height: 64px;
    line-height: 64px;
    margin: 15px 1px 17px;
    text-align: center;
    width: 64px;
}

.link-info li a{
	color:#fff;
    display:block;
}

/* Isotope Transitions
------------------------------- */
.isotope, .isotope .folio-item {-webkit-transition-duration: 0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope {-webkit-transition-property:height,width;-moz-transition-property: height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width;}
.isotope .item {-webkit-transition-property: -webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform, opacity;}

