/*------------------------------------------------------

	Theme Name: Unorium
	Author: author name
	Author URI: http://authorurl.com

/*------------------------------------------------------


	CSS TABLE OF CONTENT: 

	1. GLOBAL STYLES
	2. TOP SLIDER CONTENT
	3. HEADER
		3a. Logo
		3b. Navmenu
	4. ABOUT
		4a. Features content
		4b. Info wrap
		4c. Team
	5. SERVICES
		5a. Services info
		5b. Skills
		5c. Services list
		5d. Pricing
	6. PORTFOLIO
	7. BLOG
	8. CONTACT
		8a. Contact info
		8b. Google map
	9. FOOTER
	10.OTHER STYLES
		10a. Parallax styles
		10b. quote styles
		10c. Line Seperators
		10d. Clients
		10e. Newsletter
		10f. Shadows	
		10g.  Section title
		

---------------------------------------------------------*/

/*--------------------------------------------------------
	1.GLOBAL STYLES
--------------------------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
}

a {color:#fe724d;}
a:hover {color:#333333;}
a:link,a:visited,a:active {outline:0;}

p {
	font-size: 14px;
	line-height: 23px;
	font-weight:400;
	color:#5f5f5f;
}

.no-padding {padding:0px !important;}
.space10 {margin-bottom:10px;}
.space15 {margin-bottom:15px;}
.space20 {margin-bottom:20px;}
.space25 {margin-bottom:25px;}
.space30 {margin-bottom:30px;}
.space35 {margin-bottom:35px;}
.space40 {margin-bottom:40px;}
.space50 {margin-bottom:50px;}
.space60 {margin-bottom:60px;}
.space70 {margin-bottom:70px;}
.space80 {margin-bottom:80px;}
.space90 {margin-bottom:90px;}
.space100 {margin-bottom:100px;}
.space120 {margin-bottom:120px;}
.space140 {margin-bottom:140px;}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border:0px;
	margin-bottom:20px;
}

.video iframe,
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-content {
    background:none repeat scroll 0 0 #317DBE;
    z-index: 10;
    position:relative;
}

/*--------------------------------------------------------
	2.TOP SLIDER CONTENT
--------------------------------------------------------*/

#top {
	background:#fff;
	margin-top:-10px;
	position:relative;
}

.full {width:100% !important;}

.top-inner {
	position:absolute;
	left:0px;
	right:0px;
	top:250px;
	z-index:998;
	margin:0 auto;
	width:80%;
}

.top-inner {display:none;}

.top-inner h4 {
    color: #FFFFFF;
    font-size: 110px;
    font-weight: 300;
    letter-spacing: -6px;
    margin: -10px 0;
    text-align: center;	
    text-shadow:1px 1px 1px rgba(0,0,0,0.2);
}

.top-inner h4 span {
	color:#fe4800;
}

.top-inner h5 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	display: table;
	font-family: Open Sans,Sans-serif;
	font-size: 36px;
	font-weight: lighter;
	letter-spacing: -2px;
	margin: 5px auto;
	padding: 3px 8px 5px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.top-inner h5 span {
	color:#fe4800;
}

.sp-text {
	color:#317DBE !important;
	text-transform:uppercase;
	font-size:34px;
	font-weight:bold;
}

.button1 {
	display:table;
	margin:40px auto 0px;
	border-radius:3px;
}

.button1 a {
	background: none repeat scroll 0 0 #FF4700;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: inline-block;
	font-family: Oswald;
	font-size: 20px;
	font-weight: lighter;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.button1 a:hover {
	background-color:#317DBE;
	color:#fff;
}

/*--------------------------------------------------------
	3.HEADER
--------------------------------------------------------*/

#header-wrap {
	position:relative;
	top:0;
	left:0px;
	right:0px;
	z-index:999;
}

.header {
    overflow:hidden;
	background:#fff;
	position:relative;
	z-index:999;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.05);
}

/* 3a. Logo
===================== */

.logo {}

.logo h1 {
	margin-top:10px;
	padding-left:15px;
}

.logo h1 a {
	color:#317dbe;
	font-size:35px;
	font-weight:200;
	font-family:Open Sans, Sans-Serif;
	letter-spacing:-2px;
}

.logo h1 a span {
	font-style:italic;
	color:#fe4800;
}

/* 3b. Navmenu
===================== */

.navigation {
    display: table;
    margin: 0 auto;
    float:right;
}

.navigation li {
	min-width: 85px;
	float:left;
	text-align:center;
	text-transform:uppercase;
	background:#fff;
	border-top:2px solid #fff;
}

.navigation li a {
	color:#5f5f5f;
	font-size:12px;
	padding: 18px 10px;
	display:block;
}

.navigation li a span {
	color:#317dbe;
	display:block;
	font-size:20px;
}

.home{padding-bottom:2px;}

.home a {font-size:30px !important;color:#317dbe !important;}
.navigation .current a , .current a span, .navigation li:hover a, .navigation li:hover a span {color:#fff !important;}

.navigation .current, .navigation li:hover {
	background: #317dbe !important;
	border-top:2px solid #235988 !important;
}

.rnavigation {
    background-color: #FFFFFF;
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 90px;
    z-index: 2;
}

.rnavigation{
    display: table;
    float: right;
}

.rnavigation li {
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 2px solid #FFFFFF;
  min-width: 90px;
  text-align: left;
  text-transform: uppercase;
}

.rnavigation li.current a span {
  color: #5F5F5F;
  font-size: 12px;
}

.rnavigation li a {
	color:#5f5f5f;
	font-size:12px;
	padding: 18px 10px;
	display:block;
}

.rnavigation li a span{
    float: left;
    padding-right: 10px;
}

.rnavigation .current{
    border-right:2px solid #fe4800 !important;
}

.rnavigation li:hover {
    background: none repeat scroll 0 0 #DFDFDF !important;
    border-right: 2px solid #FE4800 !important;
}

.imenu{display:none}
.imenu a{font-size:3em;color:#686868;cursor:pointer;}

.header-shadow {
	height:20px;
	background:url(../images/h-shadow.png) no-repeat bottom left;
}

/*--------------------------------------------------------
	4.ABOUT
--------------------------------------------------------*/

#home {
	background:#317DBE;
	margin-top: -0px;
}

/* 4a. Features content
========================= */

.features-wrap {}

.features-wrap h3 {
	font-size:30px;
	text-align:center;
	font-weight:400;
	width:80%;
	margin:45px auto 0;
	color:#fff;
}

.features-wrap h4{
	font-family: Open Sans;
	font-size: 26px;
	text-align:center;
	font-weight:400;
	width: 100%;
	color: #fff;
}

.features-content {
	text-align:center;
}

.features-content h4 {
	font-size:30px;
	text-transform:uppercase;
	margin:0px;
	font-weight:400;
	color:#fff;
}

.features-content p {
	width:90%;
	margin:0 auto;
	color:#fff;
}

.features-icon {
	background:url(../images/ico-bg.png);
	height:245px;
	width:223px;
	display:table;
	margin:20px auto;
	font-size:100px;
	color:#fd4801;
	line-height:240px;
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

.features-content:hover {cursor:default;}

.features-content:hover .features-icon {
	background:url(../images/ico-bg-hr.png);
	color:#fff;
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

.scroll-down{
    padding:40px 0;
}

.scroll-down a{
    display:block;
    background: transparent url(../images/scroll.png) center no-repeat;
    padding: 35px;
    opacity: .4;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.scroll-down a:hover{
    opacity: 1;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.scroll-down span{
    font-size:.8em;
    color:#fff;
}

/* 4b. Info wrap
===================== */

.info-wrap {
	margin-top:60px;
	padding-bottom:20px;
}

.info-inner {
	margin-top:90px;
}

.info-inner h5 {
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0px;
}

.info-inner h5 span {
	color:#a4a4a4;
}

.info-inner h6 {
	font-family:Open Sans;
	font-weight:300;
	font-size:28px;
	margin:2px 0 12px;
}

.info-thumb img {
	display:table;
	margin:0 auto;
}

.info-inner p {
	margin-bottom:30px;
	font-size:18px;
}

.more {
	background:#fe4800;
	padding:3px 7px;
	border-radius:3px;
	color:#fff;
	font-family:Alef;
	font-size:12px;
	font-weight:700;
}

.more:hover {
	background:#317DBE;
	color:#fff;
}

/* 4c. Team
===================== */

.team-main {
    background: url("../images/pattern/1.png") repeat scroll 0 0 #E5E5E5;
}

.team-wrap {
	margin-top:100px;
	padding-bottom:90px;
}

.team-thumb {}

.team-info {
	text-align:center;
	padding:0 22px;
}

.team-inner {
	border-radius:3px;
	overflow:hidden;
	background:#fff;
	border:1px solid #ececec;
}

.team-inner h4 {
	font-size:20px;
	font-weight:400;
	margin-top:20px;
}

.team-inner h4 span {
	font-family:Open Sans Condensed;
	font-weight:300;
	font-style:italic;
	font-size:14px;
	display:block;
}

.team-inner p {
	font-size:13px;
	line-height:21px;
	width:85%;
	margin: 0 auto;
}

.team-social {
	display:table;
	margin: 0 auto;
}

.team-social li, .blog-social li{
	width:26px;
	height:28px;
	font-size:15px;
	text-align:center;
	line-height:28px;
	float:left;
	margin:15px 1px 27px;
}

.team-social li a , .blog-social li a {color:#fff;display: block;}
.tweet {background:url(../images/tweet.png);}
.fb	 {background:url(../images/fb.png);}
.gplus {background:url(../images/gplus.png);}
.linkedin {background:url(../images/linkedin.png);}

/*--------------------------------------------------------
	5.SERVICES
--------------------------------------------------------*/

#services {
    background:#fff;
	padding:70px 0 90px;
}

.services-bg {
	background:#317DBE;
	padding:60px 0 40px;;
}

/* 5a. Services info
===================== */

.info-wrap2 {
	background:#fff;
	margin:40px 0 0;
}

.info-inner2 {margin:70px 0;}

.info-inner2 h5 {
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0px;
}

.info-inner2 h5 span {
	color:#dfdfdf;
}

.info-inner2 h6 {
	font-family:Open Sans;
	font-weight:300;
	font-size:28px;
	margin:2px 0 12px;
}

.info-inner2 p {
	margin-bottom:30px;
	font-size:18px;
}

/* 5b. Skills wrap
===================== */

.skills-wrap {
	margin: 25px 0px 50px;
}

.skills-wrap h4 {
	text-transform:uppercase;
	font-weight:normal;
	font-size:30px;
	text-align:center;
	margin-bottom:30px;
}

.skills-wrap h4 span {
	color:#dfdfdf;
}

.skill-title {
	width:11%;
	float:left;
	line-height:29px;
	color:#5f5f5f;
	font-weight:300;
}

.skill-div {
	background:#e1dcd9;
	border-radius:3px;
	border-top:1px solid #cacaca;
	padding:2px;
	width:89%;
	float:right;
}

.skill-div-inner-one {
	background: #429ffd; /* Old browsers */
	background: -moz-linear-gradient(top,  #429ffd 0%, #3c90e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#429ffd), color-stop(100%,#3c90e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #429ffd 0%,#3c90e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #429ffd 0%,#3c90e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #429ffd 0%,#3c90e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #429ffd 0%,#3c90e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429ffd', endColorstr='#3c90e6',GradientType=0 ); /* IE6-9 */
	border-radius:3px;
}

.skill-div .mobile { width:80%;}
.skill-div .tablets {width:70%;}
.skill-div .desktop { width:90%;}
.skill-div .android { width:50%;}
.skill-div .ios { width:25%;}
.skill-div .windows { width:75%;}



.skill-div-inner-two {
	height:25px;
	-webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat;
	background-size: 18px 18px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress {to {background-position: 50px 0;}}
@-moz-keyframes progress{to {background-position: 50px 0;}}
@keyframes progress{to {background-position: 50px 0;}}

.skills-wrap li {
	float: left;
	margin-bottom: 15px !important;
	padding: 0 20px;
	text-align: center;
	width: 130px;
	cursor:pointer;
}

.skill-div-inner-two span {
	background:#fe4800;
	padding:1px 8px;
	border-radius:3px;
	font-size:12px !important;
	color:#fff;
	font-weight:700;
	text-shadow:0px -1px 0px rgba(0,0,0,0.3);
	display:table;
	float:right;
	position: relative;
	right: -52px;
	top:2px;
}

.skill-div-inner-two span:before{ 
	content:"";
	position:absolute;
	right: 100%;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 6px solid #fe4800;
	border-bottom: 4px solid transparent;
	top:7px;
}

/* 5c. Services list
===================== */

.services-content {
	text-align:center;
}

.services-content h4 {
	font-size:22px;
	text-transform:uppercase;
	margin:0px;
	font-weight:400;
	color:#fff;
}

.services-content p {
	color:#fff;
	width:95%;
	margin:0 auto;
	margin-bottom:22px;
}

.services-icon {
	background:url(../images/ico-bg.png);
	height:245px;
	width:223px;
	display:table;
	margin:20px auto;
	font-size:100px;
	color:#fd4801;
	line-height:240px;
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

.services-content:hover {cursor:default;}

.services-content:hover .services-icon {
	background:url(../images/ico-bg-hr.png);
	color:#fff;
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

/* 5d. Pricing
===================== */

.pricing-wrap {
	margin-top:70px;
}

.pricing-content {
	padding:0 7px;
}

.pricing-inner {
	border-radius:3px;
	overflow:hidden;
	background:#fff;
	border:1px solid #ececec;
}

.plan-title {
	background:#5e5e5e;
	text-align:center;
	padding:15px 0;
	color:#fff;
	font-family:Oswald;
	font-size:30px;
	font-weight:normal;
	letter-spacing:-1px;
}

.plan-title span {
	display:block;
	font-family:Open Sans;
	text-transform:none;
	font-size:14px;
	font-weight:400;
	margin-top:8px;
	letter-spacing:0px;
}

.plan-ico {
	text-align:center;
	color:#377bcc;
	font-size:150px;
	margin-top:30px;
}

.pricing-content p {
	text-align:center;
	font-size:13px;
	line-height:21px;
	width:77%;
	margin:0 auto;
}

.buy-now {
	background-color:#fc4702;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	color:#ffffff;
	font-family:Open Sans;
	font-size:13px;
	font-weight:bold;
	padding:0px 10px;
	text-decoration:none;
	height:42px;
	line-height:42px;
	display:table;
	margin:15px auto 20px;
}


.buy-now span {
	font-weight:600;
	margin-left:10px;
	background:url(../images/border-button.png) no-repeat left;
	padding: 12px 0px 12px;
	top: 0px;
	position: relative;
	padding-left:15px;
}

/*--------------------------------------------------------
	6.PORTFOLIO
--------------------------------------------------------*/

#portfolio {
	padding:80px 0;
	background:#e5e5e5 url(../images/pattern/portfolio.png);
}

.portfolio_thumb {
	position:relative;
	overflow:hidden;
}

.portfolio-inner{
	background:rgba(255,255,255,0.8);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:block;
	opacity:0 !important;
	filter: alpha(opacity = 0);
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

.portfolio-inner:hover{
	opacity:1 !important;
	filter: alpha(opacity = 100);
	-webkit-transition:all 0.4s ease-in-out;  
	-moz-transition:all 0.4s ease-in-out;  
	-o-transition:all 0.4s ease-in-out;  
	transition:all 0.4s ease-in-out; 
}

.zoom-inner {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 37%;
    width: auto;
}

div.portfolio-inner {background:rgba(255,255,255,0.8);}

.folio-info {
	text-align:center;
}

.folio-info h4 {
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	margin:12px 0 0 0;
}

.folio-info h4 a {
	color:#5f5f5f;
}

.folio-info p {
	font-size:12px;
	margin:-7px auto 13px;
}

/*--------------------------------------------------------
	7.BLOG
--------------------------------------------------------*/

#blog {
	padding:80px 0 130px;
	background:#e5e5e5 url(../images/pattern/1.png);
}

.blog-inner {
	overflow:hidden;
	background:#fff;
	/*border:1px solid #dfdfdf;
	border-bottom:2px solid #d2d2d2;*/
	-webkit-box-shadow: 0px 1px 2px 1px #aaaaaa;
	box-shadow: 0px 1px 2px 1px #aaaaaa;	
}

.blog{
    margin: 0 auto;
}

.blog-post {
	margin-bottom:30px;
    width:30%;
}

.mosaicflow__column {
    float:left;
    }
.mosaicflow__item {
    display:block;
    width:100%;
    height:auto;
}

.blog-meta {
	font-size:11px;
	text-transform:uppercase;
	font-weight:400;
	color:#5f5f5f;
	padding: 0 20px;
	margin: 17px 0;
}

.blog-meta a {
	color:#317cbd;
}

.blog-info {
	padding:0 20px;
}

.blog-info h4 {
	font-weight:400;
	font-size:27px;
	line-height:27px;
}

.blog-info p {
	margin:0px;
	line-height:21px;
}

.blog-social {
	display:table;
	float:right;
	padding:0 20px;
	margin-top:0px;
}

.blog-social li{
	margin: 12px 1px -5px;
}

.blog-share {
	/*border-top:1px solid #f0f0f0;*/
	background:#f6f6f8;
	height:52px;
	margin-top:20px;
}

.comment-meta {
	text-transform:uppercase;
	font-weight:800;
	font-size:16px;
	padding: 17px 20px 0px;
}

.comment-meta a {
	color:#000;
}

.comment-meta a span {
	color:#fe4800;
	font-weight:700;
}

/*--------------------------------------------------------
	8.CONTACT
--------------------------------------------------------*/

#contact {
	padding:80px 0;
	background:#e5e5e5 url(../images/pattern/2.png);
}

.wpcf7 ul li {
	margin-bottom:7px;
}

.wpcf7 *:focus {
	border: 3px solid #fe4800;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.wpcf7 input[type="text"], .wpcf7 textarea, .wpcf7 input[type="email"]  {
	font-family:oswald;
	font-weight:300;
}

.wpcf7input[type="submit"], .wpcf7 input[type="button"] {
	background-color:#fd4801;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
	display:inline-block;
	color:#ffffff;
	font-family:Oswald;
	font-size:20px;
	font-weight:400;
	padding:5px 20px;
	text-decoration:none;
	display:table;
	float:right;
	text-transform:uppercase;	
}

.cname  {background:url(../images/user.png) white no-repeat left top 5px !important; padding-left:44px !important;background-position:3% 45% !important;}
.cemail {background:url(../images/envelope-alt.png) white no-repeat left top 5px !important; padding-left:44px !important;background-position:3% 45% !important;}
.clocation   {background:url(../images/globe.png) white no-repeat left top 5px !important; padding-left:44px !important;background-position:3% 45% !important;}
.csubject  {background:url(../images/question-sign.png) white no-repeat left top 5px !important; padding-left:44px !important;background-position:3% 45% !important;}
.cmessage {background:url(../images/pencil.png) white no-repeat left top 5px !important; padding-left:44px !important;background-position:3% 3% !important;}

#contactForm input[type="submit"]:hover,
#contactForm input[type="submit"]:active,
#contactForm input[type="button"]:hover,
#contactForm input[type="button"]:active {
	background-color:#317DBE;
	color:#fff;
}

#contactForm input[type="submit"]:focus {border:none !important;}
#contactForm input[type="submit"]:active, #contactForm input[type="button"]:active {color: #fff;border:none !important;}
#contactForm input[type="button"] {}

/* 8a. Contact info
===================== */

.contact-info {}

.contact-info li {
	margin-bottom:10px;
	font-size:24px;
	font-weight:300;
	color:#5f5f5d;
	font-family:oswald;
}

.contact-info li .ico{
	color:#ff4900;
	margin-right:18px;
}

/* 8b. Google Map
===================== */

.map {
	width: 100%;
	height: 242px;
	position:relative;
	display:block;
}

.map-wrap {
	margin-bottom:50px;
}

.gmap {
	padding:0px;
	height:400;
	background:#fff;
	border:2px solid #fff;
	border-radius:3px;
}

.gmap div {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}  

.map p {
	margin: 10px;
	color: #fff;
}

.gmap img {
	max-width: none !important;
	vertical-align: baseline !important;
}  

.gmap_marker {
	margin-top:19px;
	font-size:13px;
}

/*--------------------------------------------------------
	9.FOOTER
--------------------------------------------------------*/


.footer {
	background:#3c3c3c;
}

.footer-social {
	display:table;
	margin: 0px auto;
}

.footer-social a {
  display: block;
}

.footer-social li {
	width:80px;
	height:88px;
	font-size:50px;
	text-align:center;
	line-height:88px;
	float:left;
	margin:50px 5px;
}

.footer-social li a {color:#fff;}
.footer-social .tweet {background:url(../images/tweet-f.png);}
.footer-social .fb {background:url(../images/fb-f.png);}
.footer-social .gplus {background:url(../images/gplus-f.png);}
.footer-social .linkedin {background:url(../images/tweet-f.png);}
.footer-bottom {background:url(../images/footer-sep.png) repeat-x top left;}

.footer-bottom p {
	padding:13px 0;
	text-align:center;
	margin:0px;
	font-size:12px;
	font-weight:400;
	color:#919191;
}

/*--------------------------------------------------------
	10.OTHER STYLES
--------------------------------------------------------*/


.cover {
/* background:url(../images/pat-dark-2.png); */
padding: 125px 0;
}

/* 10a. Parallax styles
========================== */

.inner-wrap {
	background:#999 url(../images/2.jpg) no-repeat fixed center;
	background-size:130% 130%;
}

.inner-wrap2 h4 {
	font-size:45px;
	text-align:center;
	color:#fff;
	font-weight:400;
	margin:10px 0 -20px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	letter-spacing: -1.5px;	
}

.inner-wrap2 h4 span {
	color:#fe4800;
	text-transform:uppercase;
}

.inner-wrap2 p {
	font-size:16px;
	line-height:24px;
	font-style:italic;
	width:60%;
	margin:0 auto;
	text-align:center;
	color:#fff;
	text-shadow:1px 0px 0px rgba(0,0,0,0.1);
}

.inner-wrap2 {
	background:#999 url(../images/15.jpg) no-repeat fixed center;
	background-size:130% 130%;
}

.inner-wrap3 {
	background:#999 url(../images/21.jpg) no-repeat fixed center;
	background-size:130% 130%;
}

/* 10b. Quote
===================== */

.quote-info {
text-align:center;
width:65% !important;
margin:0 auto;
float:none;
padding:170px 0 150px;
}

.quote-info h4 {
	background:url(../images/quote.png) no-repeat left top;
	color:#fff;
	font-size:22px;
	font-weight:400;
	display:table;
	float:right;
	padding-top:12px;
	padding-left: 18px;
	line-height: normal;
}

.quote-info h4 span {
	display:block;
	margin-top:5px;
	position:relative;
	left:60px;
}

.quote-info p {
	display:block;
	font-weight:400;
	position:relative;
	left:0px;
	color:#fff;
	margin:0px;
	margin-top: 100px;
}

/* 10c. Line Seperators
========================= */

.line {
	background:#fff;
	width:31%;
	margin:33px auto 40px;
	height:1px;
}

.line2 {
	background:#fe4800;
	width:17%;
	margin:10px auto 6px;
	height:1px;
}

.line3 {
	background:#fe4800;
	width:30%;
	margin:0px auto 20px;
	height:1px;
}

.line4 {
	background:#fe4800;
	width:37%;
	margin:13px auto 20px;
	height:1px;
}

.line5 {
	background:#fe4800;
	width:15%;
	margin:5px auto 0px;
	height:1px;
}

.line6 {
	background:#fe4800;
	width:17%;
	margin:8px auto 8px;
	height:1px;
}

/* 10d. Clients
===================== */

.clients h4 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.5px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.clients ul li {
	width:25%;
	float:left;
}

.clients ul li img {
	display:table;
	margin: 0 auto;
}

.stat-info {
	text-align:center;
}

.stat-info h5 {
	margin:0px;
	color:#fff;
	font-size:57px;
	font-weight:400;
	text-transform:uppercase;
}

.stat-info h3 {
	margin:-25px 0px 0px;
	color:#fff;
	font-size:160px;
	font-weight:700;
	font-family:Open Sans;
}

.stat-info h4 {
	margin:0px;
	color:#fff;
	font-size:27px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:-1px;
}

/* 10e. Newsletter
===================== */

#subscribe {
	background:#317DBE;
	padding:80px 0;
}

.mcnp-info {}

.mcmp-info h4 {
	color:#ffd24f;
	font-size:44px;
	font-weight:400;
	text-transform:uppercase;
	margin-top:70px;
}

.mcmp-info h4 span {
	display:block;
	color:#fff;
	font-size:34px;
}

.mcmp-info p {
	color:#fff;
	font-size:22px;
	line-height:25px;
	font-weight:400;
}

#subscribe-wrap {
	height:70px;
	margin-top:50px;
}

#subscribes {
	width:100%;
	margin:0 auto;
	height:74px;
}

#subscribes input[type="email"]{
	background:#fff;
	border:3px solid #FFD24F;
	color:#000;
	height:50px;
	line-height:36px;
	padding-right:10px;
	position:absolute;
	width:72%;
	outline:none;
	margin-left:0px;
	margin-top:10px;
	border-radius:3px;
}

#subscribes input[type="submit"], #subscribes input[type="button"] {
	background:#fe500b;
	border:none;
	cursor:pointer;
	height:50px;
	position:absolute;
	text-transform:uppercase;
	width:20%;
	margin-left:73.5%;
	margin-top:9px;
	color:#fff;
	font-size:29px;
	font-weight:400;
	font-family:Oswald;
	padding:0px;
	letter-spacing:-1px;
	border-radius: 3px 3px 3px 3px;

}

#subscribes input[type="submit"]:hover,
#subscribes input[type="submit"]:active,
#subscribes input[type="button"]:hover,
#subscribes input[type="button"]:active {
	color:#fff;
}

#subscribes input[type="submit"]:focus {border:none !important;}
#subscribes input[type="submit"]:active, #subscribes input[type="button"]:active {color: #fff;border:none !important;}
#subscribes input[type="button"] {}

#submitButton:hover{
	background:#000;
	color:#fff;
}

/* 10f. Shadows
===================== */

.shadow1 {
	background:url(../images/shadow1.png) no-repeat center;
	height:25px;
}

.shadow2 {
	background:url(../images/shadow2.png) no-repeat center;
	height:25px;
}

.shadow3 {
	background:url(../images/shadow3.png) no-repeat right;
	height:23px;
}

.shadow4 {
	background:url(../images/shadow4.png) no-repeat center;
	height:24px;
}

/* 10g. Section title
======================== */

.content-head {}

.content-head h3 {
	background:url(../images/head-sep.png) no-repeat right center;
	font-size: 25px;
	font-weight: 400;
	height: 120px;
	letter-spacing: -1px;
	line-height: 120px;
	margin: 0;
	padding: 0 30px 0 0;
	text-align: right;
	text-transform: uppercase;
}

.content-head p {
	font-family:Oswald;
	padding-top:33px;
	font-size:20px;
	line-height:26px;
	font-weight:300;
	padding-left:10px;
}

.sticky-wrapper {
	background:#317DBE;
}

.skills-wrap li img:hover {
    /* Un-prefixed. Prefix `transform` for all target browsers. */
    transform: scale(1.2);
    }

.skills-wrap li img{ -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.skills-wrap li img:hover { -webkit-transform: scale(1.2); transform: scale(1.2);}

.ls-layer h5{
left: 20px; top: 200px; color:#fff;
}

.page-sidebar-scroll {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  width: 100px;
}
/* TESTAR AQUI */
@media only all and (max-width: 500px) {
.imenu{
        display:block;
        padding-top:10px;
}
.navigation{
    display:none;
}
    
} 

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.top-inner {top:90px;}

}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
.navigation {
    float:none;
}
.blog-post{width:100%}
#top, .inner-wrap, .inner-wrap2, .inner-wrap3, .inner-wrap4 {background-size:auto !important;}
.top-inner {display:none !important;}
.features-wrap h3 {font-size:26px;width:85%;}
.folio-item {width:100% !important;}
.shadow1, .shadow2 {width:85%;margin: 0 auto;background-size:100%;height:20px;}
.content-head h3 {font-size:60px;padding:0 20px;letter-spacing:-3px;text-align:center;margin-bottom:15px;}
.content-head p {padding:0 20px;text-align:center;}
.blog-social {display:table;float:none;margin:0 auto}
.comment-meta {text-align:center;}
.blog-share {height:100px;}
.skills-wrap ul {width:95%;}
.stat-info {text-align:center;}
.stat-info h5 {margin:0px;color:#fff;font-size:30px;font-weight:400;}
.stat-info h3 {margin:20px 0px 15px;color:#fff;font-size:70px;font-weight:400;letter-spacing:-5px;}
.skill-title {width:100%;float:left;line-height:29px;color:#5f5f5f;font-weight:300;}
.skill-div {width:100%;}
.clients ul li {width:50%;float:left;}
.features-content {margin-bottom:20px;}
.content-head h3 {background:none;}
#subscribes input[type="email"]{}
#subscribes input[type="submit"], #subscribes input[type="button"] {font-size:15px;}

}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}